@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/miama');
.title-color {
  color: rgb(255, 255, 255);
}
.text-color {
  color: rgba(255, 255, 255, 0.5);
}
body {
  font-family: "Inter";
  background-color: black;
}
nav {
  margin-left: 200px;
  margin-right: 200px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
}

.nav-border {
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  color: rgb(48, 50, 50);
  padding: 5px 5px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  color: aliceblue;
  text-decoration: none;
  padding: 0px 23px;
}
.navbar h1 {
  font-weight: 800;
  font-size: 43px;
  color: rgb(238, 66, 3);
  font-style: italic;
}
.menu-icon {
  visibility: hidden;
}
.nav-btn {
  background-color: rgb(238, 66, 3);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
}
/* first section */
section {
  margin-left: 200px;
  margin-right: 200px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  font-size: 78px;
  font-weight: 900px;
}
.banner-img {
  width: 349px;
  height: 580px;
}

.banner-font-title {   
  font-family: 'Miama', sans-serif; 
                                                                 
}

.banner-btn1 {
  background-color: rgb(238, 66, 3);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 20px;
}

.banner-btn2 {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 249, 247);
  background-color: rgb(15, 14, 14);
  border-style: solid;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
}
.banner-img {
  background-image: url(../images/Images\ 2.png);
  position: relative;
}
.banner-box-btn1 {
  display: flex;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  background-blend-mode: darken;
  align-items: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 6px 35px;
  position: absolute;
  top: 410px;
  left: -100px;
}
.circle {
  height: 40px;
  width: 40px;
  background-color: rgb(238, 66, 3);
  margin-right: 20px;
  border-radius: 100%;
  display: inline-block;
}
.banner-box-btn2 {
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(82, 71, 71, 0.802);
  border: 2px solid gray;
  position: absolute;
  top: 120px;
  right: -5px;
}
/* --------------------------------- */
.habits-title-description {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.section2-img {
  border-radius: 50%;
  width: 272;
  height: 180px;
}

.card-sect2 {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.run-section {
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 70px;
  margin-top: 50px;
}
.run-img {
  border-radius: 20px;
  margin: 30px 0px;
}
.run-title {
  font-size: 48px;
  font-weight: 900;
}

.bmi-calculator-part-01 {
  text-align: center;
  position: static;
  padding-top: 80px;
}
.bmi-title {
  font-size: 48px;
}

table,
th,
td {
  border: 1px solid rgb(68, 66, 66);
  border-collapse: collapse;
  padding: 10px 25px;
  text-align: left;
}

/* ----------------------------------- */
.input-btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 400;
}

.input-btn-sex {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 400;
  width: 275px;
  margin-top:10px;
}

.input-btn-activity-factor {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 400;
  width: 556px;
  margin-top: 10px;
}
.bmi-btn {
  margin-top: 34px;
}

.bmi-calculator,
.bmi-table-part1 {
  margin: 40px;
}

.bmi-card {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 88px;
}

.team-member {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
  column-gap: 8px;
  width: 100%;
  height: 672px;
  margin-bottom: 50px;
  /* position: relative; */
}
.trainer-text{
 position: absolute;
 bottom: 20px;
 left: 30px;
}
.team-text-color{
  color: rgb(187, 207, 207);
}
.trainer1-img {
  background-image: url(../images/trainer1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.trainer2-img {
  background-image: url(../images/trainer2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.trainer3-img {
  background-image: url(../images/trainer3.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.trainer4-img {
  background-image: url(../images/trainer8.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.trainer5-img {
  background-image: url(../images/trainer5.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.trainer6-img {
  background-image: url(../images/trainer6.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.team-title-desc {
  text-align: center;
  margin-top: 40px;
}
.team-title {
  font-size: 48px;
  font-weight: 900;
}

/* -------FAQ starts------ */
.faq-container {
  max-width: 880px;
  margin: 50px auto;
  background-color: #161414;
  padding: 30px;
  box-shadow: 0 0 15px rgba(15, 15, 14, 0.872);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 20px;
  font-size: 2em;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.faq-toggle {
  display: none;
}

.faq-question {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  position: relative;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #f9f9f9;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 1.5em;
  color: #555;
  transition: transform 0.3s ease;
}

.faq-toggle:checked + .faq-question::after {
  content: "-";
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px;
}

.faq-toggle:checked ~ .faq-answer {
  max-height: 200px;
  padding: 10px;
}

.faq-answer p {
  margin: 0;
  font-size: 1em;
  color: #666;
}
/* -------FAQ ends------ */

.footer-section{
  display: flex;
  justify-content:space-around;
  
}
hr{
  width: 1590px;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: rgb(90, 90, 100);
}
.footer-copyright{
  text-align: center;
}
.footer-title{
  color: rgb(238, 66, 3);
  font-style: italic;
  font-weight: 800px;
  font-size: 38px;
}

 @media (max-width: 576px) {
  nav {
    margin-left: 40px;
    margin-right:0px;
  }
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar ul {
    display: none;
  }
  .menu-icon {
    visibility: visible;
    color: white;
    font-size: 30px;
    margin-left: 80px;
  }
  
  .banner {
    margin-left: 0px;
    flex-direction: column;
    align-items:center;
    
  }
  
  .banner-title {
    font-size: 36px;
  }
  
  .banner-img {
    position: relative;
    width: 349px;
    height: 580px;
  }
  .banner-box-btn1{
    margin-left: 50px;
  }
  
  .card-sect2 {
    flex-direction: column;
    align-items: center;
  }
  
  .run-section {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .run-title {
    font-size: 24px;
  }
  
  .run-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .bmi-card {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .input-btn{
    margin-top: 10px;
  }

  .input-btn-activity-factor{
    width: 275px;
  }
  
  .team-member {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    column-gap: 8px;
    height: 1400px;
    width: 400px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-headline{
    text-align: left;
  }
  
  .footer-section {
    flex-direction: column;
    margin-left: 20px;
    
  }

  hr{
    width: 100%;
  }
  
  .footer-copyright{
    text-align: left;
    margin-left: 20px;
  }

} 
